<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserSuite" parallel="tests">

    <!-- Chrome: 2 threads -->
    <test name="ChromeTest" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

    <!-- Firefox: 1 thread -->
    <test name="FirefoxTest" thread-count="1">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

</suite>