name: Automation CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'   # Daily at 3 AM UTC (8:30 AM IST)

jobs:

  api-tests:
    name: API Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Run API Tests
        run: mvn clean test -Dcucumber.filter.tags="@api"

      - name: Upload API Reports
        uses: actions/upload-artifact@v4
        with:
          name: api-test-report
          path: target/


  ui-tests:
    name: UI Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Run UI Tests (Headless - First Run)
        run: mvn clean test -Dcucumber.filter.tags="@ui" -Dheadless=true -Dtest=TestRunner || true

      - name: Re-run Failed Scenarios
        run: |
         if [ -s target/failed.txt ]; then
          echo "Re-running failed scenarios..."
          mvn test -Dheadless=true -Dtest=FailedTestRunner
         else
          echo "No failed scenarios to rerun."
         fi

      - name: Upload UI Reports
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-report
          path: target/